---
import ArticleCard from "@/components/ArticleCard.astro";
import Layout from "@/layouts/Layout.astro";
import type { BlogPost } from "@/lib/contentful";
import { contentfulClient } from "@/lib/contentful";
import { slugify } from "@/lib/utils";

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<BlogPost>({
    content_type: "blogPost",
  });

  const categories = [...new Set(entries.items
    .map(post => post.fields.chapter1)
    .filter(category => category != null && category !== '')
  )];

  return categories.map(category => {
    const categoryPosts = entries.items.filter(post => post.fields.chapter1 === category);
    
    // Formater les données des posts, y compris la date
    const formattedPosts = categoryPosts.map(post => ({
      ...post,
      fields: {
        ...post.fields,
        date: new Date(post.fields.date).toLocaleDateString('fr-FR', {
          year: 'numeric',
          month: 'long',
          day: 'numeric'
        })
      }
    }));
    
    return {
      params: { category: slugify(category.toString()) },
      props: { 
        posts: formattedPosts,
        originalCategory: category
      }
    };
  });
}

const { posts, originalCategory } = Astro.props;
---

<Layout title={`Articles dans la catégorie ${originalCategory}`}>
  <div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 gap-6">
      {posts.map((post) => {
        const { title, date, description, slug, media, chapter1 } = post.fields;
        const mediaUrl = media && 'fields' in media ? media.fields.file?.url : null;
        
        return (
          <ArticleCard
            title={title}
            date={date}
            description={description}
            slug={slug}
            chapter1={chapter1}
            mediaUrl={mediaUrl}
          />
        );
      })}
    </div>
  </div>
</Layout>