---
import ArticleCard from "@/components/ArticleCard.astro";
import Layout from "@/layouts/Layout.astro";
import type { BlogPost } from "@/lib/contentful";
import { contentfulClient } from "@/lib/contentful";
import { slugify } from "@/lib/utils";

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<BlogPost>({
    content_type: "blogPost",
  });

  const categories = [...new Set(entries.items
    .map(post => post.fields.chapter1)
    .filter(Boolean)
  )];

  return categories.map(category => {
    const categoryPosts = entries.items
      .filter(post => post.fields.chapter1 === category)
      .map(post => {
        const { title, date, description, slug, media, chapter1 } = post.fields;
        const mediaUrl = media && 'fields' in media ? media.fields.file?.url : null;
        
        return {
          title,
          slug: `${slugify(chapter1)}/${slug}`,
          description,
          media: mediaUrl,
          date: new Date(date).toLocaleDateString('fr-FR', {
            year: 'numeric',
            month: 'long',
            day: 'numeric'
          }),
          chapter1: slugify(chapter1)
        };
      });

    return {
      params: { category: slugify(category.toString()) },
      props: { 
        posts: categoryPosts,
        categoryName: category
      }
    };
  });
}

const { posts, categoryName } = Astro.props;
---

<Layout 
  title={`Articles dans la catégorie ${categoryName}`}
  articles={posts}
  currentCategory={categoryName}
>
  <div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 gap-6">
      {posts.map((post) => (
        <ArticleCard 
          title={post.title}
          date={post.date}
          description={post.description}
          slug={post.slug}
          chapter1={post.chapter1}
          mediaUrl={post.media}/>
      ))}
    </div>
  </div>
</Layout>