---
import Layout from '@/layouts/Layout.astro';
import '@/styles/global.css';
import { Image } from 'astro:assets';
import RichText from '../../components/RichText.astro';
import type { BlogPost } from '../../lib/contentful';
import { contentfulClient } from '../../lib/contentful';

interface Fields {
  fields: {
    title: string;
    content: any; 
    media?: {
      fields: {
        file: {
          url: string;
        };
        description: string;
      };
    };
  };
}

interface Props {
  entry: Fields;
}

export async function getStaticPaths() {
  const entries = await contentfulClient.getEntries<BlogPost>({
    content_type: 'blogPost',
    include: 2
  });

  return entries.items.map(entry => ({
    params: {
      slug: entry.fields.slug || entry.sys.id
    },
    props: { 
      entry
    }
  }));
}

const { entry } = Astro.props;
const { title, content, media } = entry.fields;

// Ajouter le préfixe https: à l'URL
const mediaUrl = media?.fields?.file?.url ? `https:${media.fields.file.url}` : undefined;
---

<Layout title={title}>
<article class="mx-auto max-w-3xl block">
  <h1 class="text-5xl text-center">{title}</h1>
  <p class="text-center text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam consequatur deserunt reprehenderit sapiente, amet, nobis vel ullam natus placeat delectus dicta eligendi libero voluptate assumenda aliquid ipsam quasi animi perferendis?</p>
  
  {mediaUrl && (
    <Image 
  src={mediaUrl}
  alt={media?.fields?.description || title}
  width={768} 
  height={432} 
  class="mx-auto aspect-video object-cover mb-8"
  loading="eager"
  fetchpriority="high"
  format="webp"
  quality={85}
/>
  )}
  <RichText content={content} />
</article>
</Layout>