---
import HeroHeader from "@/components/HeroHeader.astro";
import Layout from "@/layouts/Layout.astro";
import Searchbar from "../components/SearchBar.tsx";
import type { BlogPost } from "../lib/contentful";
import { contentfulClient } from "../lib/contentful";
import '../styles/global.css';

const entries = await contentfulClient.getEntries<BlogPost>({ 
  content_type: "blogPost",
});



const posts = entries.items.map((item) => {
  const { title, date, description, slug } = item.fields;
  return {
    title,
    slug,
    description,
    date: new Date(date).toLocaleDateString(),
  };
});



---

<Layout title="hello world">
<div>
<HeroHeader articles={posts} />
  <div>
    {posts.map((post) => (
      <li>
        <a href={`/posts/${post.slug}/`}>
          <h2>{post.title}</h2>
        </a>
        <time>{post.date}</time>
        <p>{post.description}</p>
      </li>
    ))}
  </div>
</div>
</Layout>
    


