---
import ArticleCard from "@/components/ArticleCard.astro";
import Layout from "@/layouts/Layout.astro";
import { slugify } from "@/lib/utils";
import type { BlogPost } from "../lib/contentful";
import { contentfulClient } from "../lib/contentful";
import '../styles/global.css';

const entries = await contentfulClient.getEntries<BlogPost>({ 
  content_type: "blogPost",
});



const posts = entries.items.map((item) => {

  const { title, date, description, slug, media, chapter1 } = item.fields;
  const mediaUrl = media && 'fields' in media ? media.fields.file?.url : null;
  return {
    title,
    slug : slugify(chapter1) + '/' + slug,
    description,
    media: mediaUrl,
    date: new Date(date).toLocaleDateString('fr-FR', {
  year: 'numeric',
  month: 'long', 
  day: 'numeric'
}),
    chapter1 : slugify(chapter1)
  };
  
});

---

<Layout title="hello world" articles={posts} >
  <div class="px-4 py-8 mx-auto max-w-5xl">
    <div class="grid gap-10">
      {posts.map((post) => (
         <ArticleCard
            title={post.title}
            date={post.date}
            description={post.description}
            slug={post.slug}
            chapter1={post.chapter1}
            mediaUrl={post.media}
          />
      ))}
    </div>
  </div>
  </Layout>
    


